header.header
	img(src="static/images/general/bg-header.jpg" srcset="static/images/general/bg-header@2x.jpg 2x, static/images/general/bg-header@3x.jpg 3x,").header__bg
	.container
		include ../../pages/topLine.pug
		include ../../pages/logoLine.pug
	.navigation
		.container
			include ../../pages/navigation.pug