include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible' content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="description", content=description)
		meta(name="keywords" content=keywords)
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")

		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->
	body
		.wrapper
			include ../modules/header/header
			.main
				img(src="static/images/general/bg-body.jpg" srcset="static/images/general/bg-body@2x.jpg 2x, static/images/general/bg-body@3x.jpg 3x,").main__bg
				.container
					.main__row
						.main__left
							include ../pages/mainLeft
						.main__body
							block content
						.main__right
							include ../pages/mainRight
			include ../modules/footer/footer
		script(src="static/js/jquery-3.3.1.min.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")
		block script
