extends template/main

block variables
	- let title = 'Агентство по подбору домашнего персонала «Добрая Фея» в г. Ростове-на-Дону'
	- let h1 = title
	- let description = 'описание сайта'
	- let keywords = 'служанги, сиделки, репетироры'

block content
	p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores voluptatum at enim. Blanditiis tempora eligendi alias esse quia aut corporis hic exercitationem nesciunt amet, rem vero animi. Labore, recusandae dolorem.
