extends template/main

block variables
	- let title = 'Агентство по подбору домашнего персонала «Добрая Фея» в г. Ростове-на-Дону'
	- let h1 = title
	- let description = 'описание сайта'
	- let keywords = 'служанги, сиделки, репетироры'

block content
	.mainBody
		h2 Нужен домашний персонал? Ищете сиделку, няню или, может быть, нужна домработница?
		p 
			|Обращайтесь к нам!  Квалифицированные специалисты агентства <a href="/">«Добрая Фея»</a> с радостью помогут Вам в решении  ваших проблем!
		p
			|Агентство домашнего персонала <a href="/">«Добрая Фея»</a> профессионально занимается подбором домашнего персонала.
		p
			|Наше агентство может предложить все необходимые услуги по найму квалифицированного домашнего персонала, который значительно сэкономит ваше свободное время.
		p
			|Агентство предлагает Вам услуги по подбору домашнего персонала в Ростове-на-Дону:
		ul
			li Няни
			li Гувернантки
			li Домработницы
			li Сиделки
			li Репетиторы
			li Логопеды
			li Помощники по хозяйству
			li и другие специалисты
		p
			|Наше  агентство осуществляет тщательный подбор домашнего персонала в короткие сроки. Если вам требуется домашний персонал, <a href="/">«Добрая Фея»</a> всегда — к Вашим услугам!
		.maps
			h2 Найти нас легко:
			div(itemscope itemtype="http://schema.org/Organization")
				span(itemscope="name")=title
				div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") Адрес: 
					span(itemscope="addressLocality") Ростов-на-Дону, 
					span(itemscope="streetAddress") ул. Суворова, 103/45
				p Телефон:<span itemprop="telephone"> +7 (863) 269-75-81; +7 (989) 516-31-31 </span>
				p Электронная почта:<span itemprop="email"> dbfeya@mail.ru</span>
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae8e02efd0c169ed3d2b1e262107ccf97be2244fa4604cf72a15c2da9fd407b62&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>