// Colors
$white: #ffffff;
$black: #000000;

// Sizes
$base-font-size: 16px;
$accent: #ff7f7f;
$bg: #00787f;
$bg-footer: #002b2e;
$text: #49464c;

$fontRegular: 'Roboto-Regular', sans-serif;
$fontMedium: 'Roboto-Medium', sans-serif;
$fontBold: 'Roboto-Bold', sans-serif;
$fontBlack: 'Roboto-Black', sans-serif;

$logo-font: 'Lobster', sans-serif;

// Fonts