header {
	flex: 0 0 auto;
	height: auto;
}
.header {
	&__bg {
		width: 100%;
		height: 240px;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: -1;
	}
}

@import "topLine";
@import "logoLine";
@import "nav";