footer.footer
	.container
		.footer__nav
			include ../../pages/navigation.pug
		.footer__copyrating
			h3 © 2020,  «<a href="/">Добрая фея</a>» все права защищены.
		.footer__create-site
			a(href="https://siteguide.ru") Сайт разработан «Частным вебмастером»